/Build/obj/
/Build/bin/
/PulseeR.Schedule/obj/
/PulseeR.Schedule/bin/
/PulseeR.Worker/obj/
/PulseeR.Worker/bin/
/PulseeR.Worker.Tests/obj/
/PulseeR.Worker.Tests/bin/
/PulseeR.Schedule.Tests/obj/
/PulseeR.Schedule.Tests/bin/
/.idea/
/Build/Package/
/PulseeR.sln.DotSettings.user
